.bodyMain {
    margin: 0;
    padding: 0;
}
.main-container {
   background: linear-gradient(0deg,#615878,#615878 20%,#464161 60%,#313050 90%,#313050);
   height: 100vh;
}
.text-center {
    text-align: center;
}
.active {
    color: #006aff;
}
.heading > h1 {
    margin: 0;
    padding: 20px 0;
    font-weight: bolder;
}
.tempLogoContainer,
.tempContainer {
    display: inline-block;
}
.tempContainer {
    font-size: 50px;
}
.detailsSection {
    margin-top: 20px;
}
.placeName,
.windinner,
.reportDetails {
    font-weight: bold;
    color: #fff;
    background: rgb(0 0 0 / 75%);
    padding: 25px 22px;
    width: 210px;
    text-transform: capitalize;
    margin-right: 1rem;
}
.placeHolder,.skyReport,.windDetails {
    display: inline-block;
}
.tempChange {
    cursor: pointer;
}

.tempShowBoxContainer {
    background: #f6f6f6;
    max-width: 900px;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
}
