.bodyMain {
    margin: 0;
    padding: 0;
}
.main-container {
   background: linear-gradient(to bottom,#eb9e3d,#dbcea8,#b7b1a3);;
   height: 100vh;
}
.text-center {
    text-align: center;
}
.active {
    color: #006aff;
}
.heading > h1 {
    margin: 0;
    padding: 20px 0;
    font-weight: bolder;
}
.tempLogoContainer,
.tempContainer {
    display: inline-block;
}
.tempContainer {
    font-size: 50px;
}
.detailsSection {
    margin-top: 20px;
}
.placeName,
.windinner,
.reportDetails {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: #000033;
    padding: 25px 22px;
    width: 210px;
    text-transform: capitalize;
    margin-right: 1rem;
    box-shadow: inset 2px 2px 0px 1px #ffeeff;;
}
.placeHolder,.skyReport,.windDetails {
    display: inline-block;
}
.tempChange {
    cursor: pointer;
}